html,
body {
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background: linear-gradient(to right, rgb(131, 231, 255), rgb(185, 255, 201));
}

.container {
    display: flex;
    flex-direction: column;
}

.banner {
    height: 25%;
    width: auto;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.header {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 3.5em;
    letter-spacing: .8em;
    color: #FFFFFF;
    padding: 0;
    text-shadow: 1px 1px 2px #148e89;
}

.cover {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: auto;
    padding: auto;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    color: #148e89;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: .2em;
    grid-column: 2/3;
    text-shadow: 0.5px 1px 0.5px #ffffff;
}

.title {
    margin: none;
    padding: none;
    justify-self: center;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.8em;
    letter-spacing: .2em;
    color: #ffffff;
    text-shadow: 1px 1px 2px #148e89;

}

.todo-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% fit-content auto;
    justify-self: center;
}

.monday {
    justify-self: center;
}



.input {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.list-wrap {
    justify-self: center;
}


/* .box-button {
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
} */


.userinput {
    height: 2em;
    width: 20em;
    border: 1px solid #52dfff;
    color: #148e89;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 10px;
} 

.enter, .clear {
    height: 1.5em;
    background: #ffffff;
    border: 2px solid;
    border-radius: 20px;
    border-color: white;
    color: #148e89;
    font-size: 1.2em;
    font-family: 'Zhi Mang Xing', cursive;
    margin-bottom: 5px;
    margin-left: 10px;

}

.delete {
    background: transparent;
    border: 2px solid;
    border-color: white;
    border-radius: 20px;
    color: #148e89;
    font-size: 0.8em;
    font-family: 'Zhi Mang Xing', cursive;
    margin: 10px;
    font-weight: 100;
    letter-spacing: 0.1em;
}

.done {
    text-decoration: line-through;
}

.list {
    /*
  list-style: none;*/
    font-family: 'Zhi Mang Xing', cursive;
    font-size: 1.5em;
    letter-spacing: .05em;
    font-weight: 200;
    color: #148e89;
    text-align: center;
}

#enter:hover {
    cursor: pointer;
}

.delete:hover {
    cursor: pointer;
}

.l-item:hover {
    cursor: pointer;
}
